* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

body {
    background-color: #562D17;
}

.sky {
    background-image: url("./imgs/bg-sky.jpg");
    background-repeat: round;
    height: 16em;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.house {
    background: url("./imgs/bg-head.png") no-repeat center;
    margin: 0 auto;
    max-width: 80%;
    position: relative;
    top: 3em;
    width: 100%;
    z-index: 2;
}

.logo {
    max-height: 6em;
    object-fit: contain;
    position: relative;
    top: 3em;
    width: 100%;
    z-index: 3;
}

.wood2 {
    background: url("./imgs/bg-nav.png") no-repeat center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    height: 3em;
    margin: 0 auto;
    max-width: 82em;
    position: relative;
    top: -1em;
    z-index: 3;
}

.miniback {
    background: url("./imgs/bg-top-inset.jpg") ;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding: 3em 0 1.5em 0;
    position: relative;
    top: -3em;
    width: 100%;
    z-index: 2;
}

.rlink {
    color: white;
    margin: 0.5em 1em;
    position: relative;
    text-decoration: none;
    z-index: 3;
}

.texttittle {
    text-decoration: underline;
    margin: auto;
    text-align: center;
}

.content {
    background-image: url("./imgs/bg-top-inset.jpg");
    position: relative;
    top: -4.5em;
    padding: 2em 0 9em 0;
}

.footer {
    background: url("./imgs/bg-footer.png");
    background-repeat: round;
    height: 25em;
    position: relative;
    text-align: center;
    top: -12em;
    width: 100vw;*/
}

.wood {
    height: 8em;
    position: relative;
    top: -3em;
    width: 100%;
    z-index: 2;
}

.tienda {
    margin: 1em;
    padding: 1em;
    color: white;
    border: 3px solid white;
    border-radius: 2em;
    max-width: 16em;
}

.title {
    font-size: 27px;
    font-weight: 600;
    margin: 0.5em 0;
    text-align: center;
    color: #FFD31F;
}

.footertext {
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 10em;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    padding: 4em 2em;
    top: 14em;
    z-index: 10;
}

.redes {
    display: block;
}

.social {
    text-align: center;
}

.social img {
    padding: 0.5em;
    margin: 0.2em;
}

.facebook {
    background-color: #0153A5;
}

.twitter {
    background-color: #21A2DC;
}

.instagram {
    background-color: #9832C6;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto;
    text-align: center;
    width: 60%;
}

.texto {
    font-size: 12px;
}